.site-hero {
	display: flex;
	padding-bottom: 40px;

	> .site-hero__column {
		flex-basis: 50%;
		min-height: 550px;

		&.site-hero__column--content {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $color__brand-pink;

			> .site-hero__content {
				width: 80%;
				opacity: 0;
				transition: opacity 1s;

				> p {
					display: -webkit-box;
					overflow: hidden;
					-webkit-line-clamp: 6;
					-webkit-box-orient: vertical;
				}

				&.show {
					opacity: 1;
				}
			}
		}

		&.site-hero__column--image {
			background-size: cover;
 			background-repeat: no-repeat;
			background-color: $color__brand-orange;
			background-position: center center;
		}
	}
}

@media screen and (max-width: 991px) {
	.site-hero {
		flex-direction: column;

		> .site-hero__column {
			min-height: 350px;

			&.site-hero__column--content {
				h1 {
					font-size: 3.157rem;
				}
			}
		}
	}
}
