.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page .entry-title {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-section--about {
	.site-section__content {
		padding-right: 40px;
		opacity: 0;
		transition: opacity 1s;

		&.show {
			opacity: 1;
		}

		> h2 {
			margin-top: 0;
		}
	}

	.site-section__image {
		position: relative;

		> img {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			max-height: 400px;
			height: auto;
			border: 12px solid #fff;
		}

		&::before {
			display: block;
			width: calc(100% - 60px);
			height: 470px;
			margin-left: 60px;
			background: $color__brand-orange;
			content: '';
		}
	}
}

.site-section--services {
	div[class*='col'] {
		&:nth-child(1) {
			> .site-section__service {
				background: $color__brand-grey;
			}
		}

		&:nth-child(2) {
			> .site-section__service {
				background: $color__brand-pink;
			}
		}

		&:nth-child(3) {
			> .site-section__service {
				background: $color__brand-orange;
			}
		}
	}

	.site-section__service {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 380px;

		> .site-section__service-content {
			width: 90%;
			text-align: center;
			opacity: 0;
			transition: opacity 1s;

			&.show {
				opacity: 1;
			}

			> h3 {
				margin-top: 0;
			}
		}
	}

	.site-section__footer {
		width: 100%;
		text-align: center;
		padding-top: 40px;

		> a {
			color: initial;
			font-size: 18px;
			opacity: 0;
			transition: opacity 1s;

			&.show {
				opacity: 1;
			}

			> span {
				padding-top: 3px;
			}
		}
	}
}

.site-page-links {
	width: 100%;
	text-align: center;
	padding-top: 40px;

	span, a {
		font-size: 20px;
		padding: 0 10px 5px;
	}

	.current {
		border-bottom: 2px solid $color__brand-grey;
	}
}

.site-no-services {
	p {
		font-size: 28px;
	}
}

.site-testimonials {
	div[class*='col'] {
		&:nth-child(4n+2) {
			.site-card {
				background: $color__brand-pink;
			}
		}

		&:nth-child(4n+3) {
			.site-card {
				background: $color__brand-orange;
			}
		}

		&:nth-child(4n+0) {
			.site-card {
				background: $color__brand-grey;
			}
		}

		&:nth-child(4n+1) {
			.site-card {
				background: $color__brand-green;
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.site-section--about {
		.site-section__image {
			> img {
				border: 12px solid $color__brand-orange;
				position: static;
				transform: none;
			}

			&::before {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.site-section--about {
		text-align: center;

		> .row {
			-webkit-box-orient: vertical;
   	 		-webkit-box-direction: reverse;
        	-ms-flex-direction: column-reverse;
            flex-direction: column-reverse;

			.site-section__content {
				padding-right: 0;
				padding-top: 25px;
			}
		}
	}
}
