.main-navigation {
	display: block;
	width: 100%;

	.menu-toggle {
		position: absolute;
		top: 10px;
		font-size: 50px;
		cursor: pointer;

		&.close {
			left: 10px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		text-align: center;
	}

	a {
		display: inline-block;
		padding: 10px;
		color: $color__text-main;
		text-decoration: none;
		white-space: nowrap;

		&:hover {
			color: $color__brand-green;
		}
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		margin: 0 auto 0;
		padding-top: 20px;
		max-width: 680px;

		ul:first-of-type {
			display: flex;
			justify-content: center;

			> li {
            	flex-grow: 1;;
			}
		}
	}
}

@media screen and (max-width: 37.5em) {
	.main-navigation {
		ul:first-of-type {
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 1;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			background: #fff;
			transition: transform 0.5s;
			padding-top: 50px;
			overflow-y: scroll;

			ul {
				display: none;
			}

			a {
				font-size: 28px;
			}

			> li {
				opacity: 0;
				transition: opacity 1s;
				transition-delay: 0.3s;
			}
		}

		&.toggled {
			ul.nav-menu {
				transform: translateX(0%);

				> li {
					opacity: 1;
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
