.wpcf7 {
	form {
		max-width: 600px;
		margin: 0 auto;

		.wpcf7-form-control-wrap {
			display: inline-block;
			margin-bottom: 35px;
			width: 100%;
	
			input, textarea {
				width: 100%;
			}
		}

		.wpcf7-submit {
			float: right;
		}

		.wpcf7-response-output {
			margin: 2em 0 1em;
			padding: 10px;
		}
		
		&.invalid,
		&.failed {
			.wpcf7-response-output {
				background-color: $color__brand-pink;
				border-color: $color__brand-orange;
			}

			.wpcf7-not-valid-tip {
				margin-top: 5px;
			}
		}

		&.sent .wpcf7-response-output {
			background-color: rgb(143, 151, 114, .3);
			border-color: $color__brand-green;
		}
	}
}

@media screen and (max-width: 768px) {
	.wpcf7 {
		form {
			.wpcf7-form-control-wrap {
				&.your-name,
				&.your-email {
					width: 100%;
					padding: 0;
				}
			}
		}
	}
}