$color__brand-pink: #fff4f0;
$color__brand-green: #8f9772;
$color__brand-orange: #f0d0bb;
$color__brand-grey: #e5e5e5;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000;
$color__link-visited: #000;
$color__link-hover: $color__brand-green;
$color__text-main: #000;

$color__border-button: $color__brand-green;
$color__border-input: #ccc;
$color__border-abbr: #666;
